<footer class="bg-black pa4 white">
	<div class="pb2 primary f3 fw9 font-logo tc">
			Phil Agius
	</div>
	<div class="tc">
		{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/phil-agius/" "icon" "linkedin") }}
		{{ partial "social-icon" (dict "link" "https://www.instagram.com/curlypages/" "icon" "instagram") }}
	</div>
</footer>

	<!-- Javascript -->
	<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
</body>

</html>
