<div class="pt5 pb1 pt6-l pb1-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center">
    <div class="db mb3">
      <div class="mw-100 relative mb1 tr">
        <h1 class="f2 b di lh-title mb3 primary mw6">
          {{.title}}
        </h1>
      </div>
      {{ if .subtitle }}
      <div class="mw-100 relative tr">
        <p class="b f5 di lh-title mb3 font-mono grey-3 mw6">
          {{.subtitle}}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
