<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 primary f3 fw9 no-underline font-logo">
		Phil Agius
	</a>

	<!-- Primary Nav -->
	<ul id="nav" class="flex b grey-3 dn font-mono">
		<li><a href="#services" class="pa3 no-underline dn db-l">Services</a></li>
		<li><a href="#about" class="pa3 no-underline dn db-l">About</a></li>
		<li><a href="#contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
